.deps
*.o
*.mo
*.swp
*.tar.gz
*.tar.bz2
autom4te.cache
aclocal.m4
ChangeLog
configure
config.h
config.h.in
config.log
config.status
depcomp
INSTALL
intltool-*.in
Makefile.in
Makefile
missing
nall.desktop
PKGBUILD
stamp-h1
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/nall.pot
po/POTFILES
po/stamp-it
src/nall
